<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Trener Cinkciarz</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
</head>

<body ng-controller="ExchangeRateController as erCtrl">
<div class="container">
    <header>
        <h1>Trener Cinkciarz</h1>
    </header>
    <div class="row">
        <div class="col-md-5">

            <table class="table">
                <thead>
                <tr>
                    <th>CURRENCY</th>
                    <th>PURCHASE</th>
                    <th>SALE</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="currency in erCtrl.currencies">
                    <td>{{currency.code}}
                    </td>
                    <td>{{currency.bid | number: 4}}</td>
                    <td>{{currency.ask | number: 4}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 panel panel-warning">
                    <div class="panel-heading">WALLET:</div>
                    <div class="panel-body">
                        <div type="text" value="{{erCtrl.wallet.PLN |number:2}}">
                        <ul ng-repeat="(key, value) in erCtrl.wallet">
                            <li ng-show="value>0"> {{key}}:{{ value|number:2 }}</li>
                        </ul>
                    </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>select action</label>
                    <select class="form-control" ng-model="erCtrl.action">
                        <option value="buy">BUY</option>
                        <option value="sell">SELL</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>type your sum</label>
                    <input ng-model="erCtrl.myValue" type="number" class="form-control" required>
                </div>
                <div class="col-md-4">
                    <label>select currency</label>
                    <select class="form-control col-md-2" ng-model="erCtrl.currency">
                        <option value="{{currency.code}}" ng-repeat="currency in erCtrl.currencies">{{currency.code}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <button type="button" class="btn btn-success" ng-click="erCtrl.check()">Check</button>

                </div>


            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <p>VALUE :{{erCtrl.testValue |number:2}}</p>

                    <p>TEMPORARY WALLET </p>
                    <ul ng-repeat="(key, value) in erCtrl.tempWallet">
                        <li ng-show="value>0"> {{key}}:{{ value|number:2}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-md-offset-2 ">
                <button type="button" class="btn btn-success" ng-click="erCtrl.confirm()">Confirm</button>
                <button type="button" class="btn btn-warning" ng-click="erCtrl.cancelTempwallet()">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/ngstorage/ngStorage.min.js"></script>
<script src="app.js"></script>
<script src="exchange-rate.controller.js"></script>
<script src="exchange-rate.service.js"></script>
<script src="wallet-service.js"></script>

</body>
</html>
